<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firework (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{231,693},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,0},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,0},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{698,0},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{231,0},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1401},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,934},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,467},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,693},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (19).png</key>
            <dict>
                <key>frame</key>
                <string>{{698,693},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{231,934},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1401},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,467},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,462},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{698,462},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{231,462},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,231},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{698,231},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
            <key>firework (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{231,231},{231,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,467}}</string>
                <key>sourceSize</key>
                <string>{231,467}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>firework.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c70def4275b8262c8738c4d161d6615$</string>
            <key>textureFileName</key>
            <string>firework.png</string>
        </dict>
    </dict>
</plist>
